{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "experimental": { "keepImportAssertions": true },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
    },
    "target": "es2021",
    "transform": {
    			"legacyDecorator": true,
    			"decoratorMetadata": true
    		},
  },
  "module": {
  "type": "nodenext",
  },
  "minify": true
}